<%- include('../partials/header') -%>

<title>Location, Welcome</title>
</head>
<body>

<%- include('../partials/sidebar') -%>
<div class="main-content">
    <div class="col-md-9">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">Hello Admin</h4>
            </div>
            <div class="card-body">
                <p class="lead">Bienvenue sur notre site web ! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet congue velit. Nulla facilisi. Nam ac sem nec tellus luctus interdum vel eu mauris.</p>
                <!-- <a href="/create-user" class="btn btn-primary btn-block">Get Started</a> -->
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer') -%>
