<%- include('../partials/header') -%>
<% if (user.role === "kingAdmin") { %>
    
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Créer un nouvel établissement</h4>
                </div>
                <div class="card-body" >
                    <form action="/establishments/create-establishment" method="POST">
                        <div class="mb-3">
                            <label for="name" class="form-label">Nom</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Example" required>
                        </div>
                            
                        <div align="center">
                            <button type="submit"  class="btn btn-primary">Ajouter un établissement</button>
                            <!-- <a href="/login" class="btn btn-secondary">Login</a> -->
                        </div>
                    </form>

                    <% if (typeof errorMessage !== 'undefined') { %>
                        <div class="alert alert-danger mt-3">
                            <%= errorMessage %>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>

<% } else { %>
    <h1 align="center">there's nothing here to see,<a href="/" style="text-decoration: none;"> go home.</a></h1>
<% } %>

<%- include('../partials/footer') -%>
