/* profile.css */
.user-profile-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.user-profile-table th,
.user-profile-table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

.user-profile-table th {
    background-color: #f2f2f2;
}

.user-profile-table tr:last-child td {
    border-bottom: none;
}

.user-profile-table td:last-child {
    text-align: center;
}

.edit-button, .delete-button, .view-button{
    display: inline-block;
    width: 30%; /*Adjust the width as needed*/
    margin: 10px; /* Add some margin between the buttons */
    padding:10px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.delete-button{
    border: 2px solid #850000;
    color: #850000;
}

.delete-button:hover {
    background-color: #850000;
    color: #fff;
}

.edit-button{
    border: 2px solid #005b24;
    color: #005b24;
}

.edit-button:hover {
    background-color: #005b24;
    color: #fff;
}

.view-button{
    border: 2px solid #00155b;
    color: #00155b;
}

.view-button:hover {
    background-color: #00155b;
    color: #fff;
}

.slick-arrow, .slick-prev:before, .slick-prev:focus,.slick-prev, .slick-next:before, .slick-next:focus, .slick-next {
    color: #005b24 !important; /* Arrow color */
}

/* Custom CSS to make photos contained within a square */
.photo-slider .slider-item {
    position: relative;
    overflow: hidden;
    /* width: 80%; */
    padding-bottom: 50%; /* This creates a square container with 1:1 aspect ratio */
}

.photo-slider .slider-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain; /* This ensures the image covers the entire container without distortion */
}

/* Custom CSS to style the image buttons */
.photo-slider .slider-item {
    position: relative;
}
  
.image-buttons {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(9, 9, 9, 0.7);
    padding: 8px;
    display: flex;
    justify-content: space-evenly;
}

/* Add a border between the buttons */
.image-buttons a {
    color: #fff;
    text-decoration: none;
    padding: 4px 10px;
    /* border-radius: 5px;
    border-top: 1px solid #fff; Add this line to create a border between the buttons */
}

  
/* External CSS file or in <style> section */
.slider-item-3d {
    transform-style: preserve-3d;
    perspective: 1000px; /* Adjust the value for the desired perspective effect */
    transition: transform 0.5s ease;
}
  
.slider-item-3d img {
    width: 100%;
    height: auto;
    backface-visibility: hidden;
}
  
