
.slick-track {
  max-width: 100%!important;
  transform: translate3d(0, 0, 0)!important;
  perspective: 100px;
}

.slick-slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
  width: 100%!important;
  transform: translate3d(0, 0, 0);
  transition: transform 1s, opacity 1s;
}

.slick-snext,
.slick-sprev,
.slick-snext2,
.slick-sprev2{
  display: block;
}

.slick-current {
  opacity: 1;
  position: relative;
  display: block;
  z-index: 2;
}

.slick-snext {
  filter: blur(4px);
  opacity:  0.30;
  transform: translate3d(30%, 0, -30px);
  z-index: 1;
  perspective: 1000px;
}
.slick-snext2 {
  filter: blur(4px);
  opacity:  0.20;
  transform: translate3d(60%, 0, -60px);
  z-index: 0;
  perspective: 1000px;
}

.slick-sprev {
  filter: blur(4px);
  opacity:  0.30;
  transform: translate3d(-30%, 0, -30px);
}

.slick-sprev2 {
  filter: blur(4px);
  opacity:  0.20;
  transform: translate3d(-60%, 0, -60px);
}

.test {
  display: block;
  width: 100%;
  height: 300px;
  background: #c00;
  box-shadow: inset 0px 0px 0px 3px #000
}


.photo-slider .slider-item {
  position: relative;
  overflow: hidden;
  /* width: 80%; */
  padding-bottom: 50%; /* This creates a square container with 1:1 aspect ratio */
}

.photo-slider .slider-item img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain; /* This ensures the image covers the entire container without distortion */
}

/* Custom CSS to style the image buttons */
.photo-slider .slider-item {
  position: relative;
}