<%- include('../partials/header') -%>
<title>Location, Clients</title>
<link rel="stylesheet" href="/css/user.css">
</head>
<body>
    <div class="container">
        <%- include('../partials/sidebar') -%>
        <div class="main-content">
            <h1>Tous les Reservation</h1>
            <a href="/reservations/create"> Reservations</a>
        </div>
    </div>

<%- include('../partials/footer') -%>

</body>
</html>

