<%- include('../partials/header') -%>
<title>Location, Clients</title>
<link rel="stylesheet" href="/css/user.css">
</head>
<body>
    <div class="container">
        <%- include('../partials/sidebar') -%>
        <div class="main-content">
            <h1>Tous les Reservation</h1>
            <a href="/reservations/create" class="add-user-button">Create a new reservation</a>
            <!-- <a href="/reservations/download"> Télécharger</a> -->

            <!-- <a href="/reservations/2" class="view-button" >Voir profile</a> -->
        </div>
    </div>

<%- include('../partials/footer') -%>

</body>
</html>

