<%- include('../partials/header') -%>
<title>Location, 404</title>
<!-- <link rel="stylesheet" href="/css/user.css">
<link rel="stylesheet" href="/css/profile.css"> -->
</head>
<body>
    <div class="container">
        <%- include('../partials/sidebar') -%>
        <div class="main-content">
            <h1 >You look lost,<a href="/" style="text-decoration: none;"> go home.</a></h1>
            <img align="center" src="/images/extra/lost.gif" alt="Animated GIF" width="800" height="400" class="gif-image">
        </div>

    </div>


</body>
</html>