<!-- <%- include('../partials/sidebar') -%>
<div id="content">
<%- include('../partials/header2') -%>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3">
                
            </div>
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            <h4 class="mb-0">Welcome to Our Website</h4>
                        </div>
                        <div class="card-body">
                            <p class="lead">Welcome to our website! We are excited to have you here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet congue velit. Nulla facilisi. Nam ac sem nec tellus luctus interdum vel eu mauris.</p>
                            <a href="/create-user" class="btn btn-primary btn-block">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer2') -%> -->
