<%- include('../partials/header') -%>
<title>Reset Password</title>
<link rel="stylesheet" href="/css/editProfile.css">
</head>
<body>
    <div class="container">
        <%- include('../partials/sidebar') -%>
        <div class="main-content">
            <h1>Edit User Profile</h1>
            <% if (user.role === "kingAdmin" || user.id === userId) { %>
            <form action="/users/<%= userId %>/passwordreset" method="POST">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
                <button type="submit">Reset Password</button>
            </form>
            <% } %>
        </div>

    </div>

<%- include('../partials/footer') -%>

</body>
</html>