<%- include('../partials/header') -%>
<title>Location, Clients</title>
<link rel="stylesheet" href="/css/user.css">
</head>
<body>
    <div class="container">
        <%- include('../partials/sidebar') -%>
        <div class="main-content">
            <!-- <h1>Tous les clients</h1> -->
            <iframe src="https://calendar.google.com/calendar/embed?src=sundus.pluricap%40gmail.com&ctz=Europe%2FParis" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
    </div>

<%- include('../partials/footer') -%>

</body>
</html>

